<html>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta charset="utf-8">


<body>

	<header>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<a class="navbar-brand" href="/">Youtoob2</a>
		
			<div class="search">
				<form class="form-inline center" method="post" action="../search">
					<input class="search-input" type="text" name="search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
			
		


			<% if(user == null){ 
				information = 'Sign in'
				} 
				 else{ 
					information = user.name
					 } %>
			
			<ul class="navbar-nav signin">
				<li class="nav-item dontshrink">
					<a class="nav-link dontshrink" href='/users/signIn'> <%- information %> </a>
				</li>
			</ul>
			
			
		  </nav>

</header>
<% results.forEach(function(user) { %>
			
	<script> 
		var newDiv = document.createElement("a"); 
		var newContent = document.createElement("div");
		var names = '<%= user.name %>';
		var test = "/profile/" + names;
		var str ='<div class="row"><div class="col-sm-4"><img src="aviplaceholder.jpg" height="200px" width="200px"></div><div class="col-sm-7"><h1>user: '+names +'</h1></div></div>';
		newContent.innerHTML = str;
		newDiv.appendChild(newContent);
		newDiv.href= test;
		var currentDiv = document.getElementById("div1"); 
	  document.body.insertBefore(newDiv, currentDiv); 
		</script>
	<% console.log(user.name) %>
<% }) %>
<% Vresults.forEach(function(video) { %>
	
	<script> 
		var newVDiv = document.createElement("a"); 
		var newVContent = document.createElement("div");
		var Vnames = `<%= video.title %>`;
		var id = `<%= video._id %>`;
		var video = '<%=video.location%>';
        var str = '<div class="row"><div class="col-sm-4"><video preload="metadata" width="400px"><source src=' + '"' + video + '"' + 'type="video/mp4"> </video></div><div class="col-sm-7"><h1>video: '+Vnames + '</h1></div></div>';
			console.log(str);
			newVContent.innerHTML = str;
		newVDiv.appendChild(newVContent);
		var test = "/video/" + id;
		newVDiv.href = test
		var currentDiv = document.getElementById("div1"); 
		  document.body.insertBefore(newVDiv, currentDiv); 
		</script>

	<% console.log(video.title) %>
<% }) %>
	
<div class="temp"><h3><center>result for <%- search %></center></h3></div>
		<div class="container">	
		
	 		<div class="row">
	    		
		      		<div id="div1">
					  </div>
					  
			</div>
		</div>
		
		  			
	
</body>
	
</html>