<html>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta charset="utf-8">
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="../custom css/navbar.css" rel="stylesheet">
<link href="../custom css/videoscreen.css" rel="stylesheet">


<head>
  <link href="https://vjs.zencdn.net/7.7.5/video-js.css" rel="stylesheet" />

</head>

<body>

	<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/#">Youtoob2</a>

	<div class="search">
		<form class="form-inline center" method="post" action="../search">
			<input class="search-input" type="text" name="search" aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>
	</div>

	<% if(locals.user == null){ 
		information = 'Sign in'
		} 
		 else{ 
			information = locals.user.name
			 } %>
	
	
	<ul class="navbar-nav signin">
		<li class="nav-item dontshrink">
			<a class="nav-link dontshrink" href='/users/signIn'> <%- information %> </a>
		</li>
	</ul>
	
	
  </nav>


</header>

<div class="container">

	<div class="row">
  
	  <div class="col-md-8">
		<video
				   id="my-video"
				   class="video-js"
				   controls
				   preload="auto"
				   width="100%"
				   height="500px"
				   poster=""
				   data-setup="{}"
			   >	
					<% if(video != null){
						link = video.location
					}%>
				   <source src="<%=link%>"> type="video/mp4" />
				   <a href='video2.html'></a>
			   </video>
	  </div>
	  <div class="col-md-4">
		<h3><%=video.title%></h3>
		<p><%=video.description%></p>
		
			<h3 class="my-3">Uploaded by: <%=video.user%></h3>
	  </div>
  
	</div>
	<!-- /.row -->
  
	<!-- Related Projects Row -->
	<h3 class="my-4">You may also enjoy...</h3>
  
	<div class="row">
  
	  <div class="col-md-3 col-sm-6 mb-4">
		<a href="#">
			<div>
							 
				<video
				id="my-video"
				class="video-js"
				preload="auto"
				width="140%"
				height="140px"
				poster=""
				data-setup="{}"
			>
				<source src="https://418videos.s3.amazonaws.com/ForBiggerEscapes.mp4" type="video/mp4" />
			</video>
			</div>
			</a>
	  </div>
  
	  <div class="col-md-3 col-sm-6 mb-4">
		<a href="#">
			<div>
							 
				<video
				id="my-video"
				class="video-js"
				preload="auto"
				width="140%"
				height="140px"
				poster=""
				data-setup="{}"
			>
				<source src="https://418videos.s3.amazonaws.com/Fall.mp4" type="video/mp4" />
			</video>
			</div>
			</a>
	  </div>
  
	  <div class="col-md-3 col-sm-6 mb-4">
		<a href="#">
			<div>
							 
				<video
				id="my-video"
				class="video-js"
				preload="auto"
				width="140%"
				height="140px"
				poster=""
				data-setup="{}"
			>
				<source src="https://418videos.s3.amazonaws.com/ForBiggerEscapes.mp4" type="video/mp4" />
			</video>
			</div>
			</a>
	  </div>
  
	  <div class="col-md-3 col-sm-6 mb-4">
		<a href="#">
			  <div>
							 
							 <video
							 id="my-video"
							 class="video-js"
							 preload="auto"
							 width="140%"
							 height="140px"
							 poster=""
							 data-setup="{}"
						 >
							 <source src="https://418videos.s3.amazonaws.com/cloudsAGAIN.mp4" type="video/mp4" />
						 </video>
						 </div>
			</a>
	  </div>
  
	</div>
	<!-- /.row -->
  
  </div>
